{% extends "base.html" %}
{% block title %}Welcome on Masonite 4{% endblock %}

{% block head %}
<script src="https://cdn.tailwindcss.com"></script>
<script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}


{% block content %}
<div class="h-screen flex flex-col items-center justify-center">
  <div class="text-gray-500 text-5xl mb-10 tracking-wide">

  </div>
</div>

{% include "debug.html" %}
{% endblock %}
